[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "auto-fu"]
	path = auto-fu
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "nvim/plugins/dein.vim"]
	path = nvim/plugins/dein.vim
	url = https://github.com/Shougo/dein.vim.git
